@import "../omarchy/current/theme/waybar.css";

* {
  background: transparent;
  border-radius: 2px;
  min-height: 0;
  font-family: "GeistMono Nerd Font", monospace;
  font-size: 13px;
}

window#waybar,
#tray,
.modules-left, .modules-right, .modules-center {
}

.modules-left, .modules-right {
  padding: 0px 8px;
  color: @foreground;
  text-shadow:
      -1px -1px 2px alpha(@background, 0.8),
       1px  1px 2px alpha(@background, 0.8),
      -1px  1px 2px alpha(@background, 0.8),
       1px -1px 2px alpha(@background, 0.8);
}

.modules-center {
  padding: 0px 1px;
  text-shadow:
      -1px -1px 2px alpha(@background, 0.8),
       1px  1px 2px alpha(@background, 0.8),
      -1px  1px 2px alpha(@background, 0.8),
       1px -1px 2px alpha(@background, 0.8);
}

#hardware,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-display,
#clock {
  min-width: 4px;
  margin: 0 2px;
  color: @foreground;
  padding: 0px 8px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

#hardware:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-omarchy:hover,
#clock:hover {
  background-color: @foreground;
  color: @background;
  text-shadow:
      -1px -1px 2px alpha(@background, 0.1),
       1px  1px 2px alpha(@background, 0.1),
      -1px  1px 2px alpha(@background, 0.1),
       1px -1px 2px alpha(@background, 0.1);
}

#taskbar {
  min-width: 4px;
  margin: 0 2px;
  padding: 0 0px;
}

#taskbar button {
  background: transparent;
  color: @foreground;
  padding: 0px 8px;
  transition: background-color 0.2s ease;
}

#taskbar button image {
  -gtk-icon-shadow:
      -1px -1px 2px alpha(@background, 0.8),
       1px  1px 2px alpha(@background, 0.8),
      -1px  1px 2px alpha(@background, 0.8),
       1px -1px 2px alpha(@background, 0.8);
}

#tray {
  min-width: 4px;
  margin: 0 2px;
  padding: 0 8px;
}

#taskbar button,
#tray button {
  color: @foreground;
  padding: 0px 8px;
  transition: background-color 0.2s ease;
}

#taskbar button:hover,
#tray button:hover {
  background-color: @foreground;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

tooltip {
  background: @background;
  border: none;
  border-radius: 4px;
}

tooltip label {
  padding: 4px 6px;
  color: @foreground;
  text-shadow: none;
}

.hidden {
  opacity: 0;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}
