@import "../omarchy/current/theme/swayosd.css";

window {
  border-radius: 0;
  border: none;

  background-color: alpha(@background-color, 0.5);

  background-image:
    linear-gradient(to bottom, @border-color, @border-color),
    linear-gradient(to bottom, @border-color, @border-color),
    linear-gradient(to bottom, @border-color, @border-color),
    linear-gradient(to bottom, @border-color, @border-color);

  background-size:
    2px 2px,
    2px 2px,
    2px 2px,
    2px 2px;

  background-position:
    top right,
    top left,
    bottom right,
    bottom left;

  background-repeat: no-repeat;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
