@import "../../../../../../../.config/omarchy/current/theme/walker.css";

* {
  all: unset;
}

* {
  font-family: monospace;
  font-size: 18px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: transparent;
  padding: 20px;
  border-radius: 2px;
  border: none;

  background-image:
    linear-gradient(@border, @border),
    linear-gradient(@selected-text, @selected-text),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border);

  background-size:
    8px 8px,
    8px 8px,
    8px 8px,
    8px 8px;

  background-position:
    top right,
    top left,
    bottom right,
    bottom left;

  background-repeat: no-repeat;

}

.preview-box {
  background: alpha(@base, 0.70);
  padding: 8px;
  border: 2px solid @border;
}

.box {
}

.search-container {
  background: alpha(@base, 0.70);
  padding: 10px;
  border: none;

  background-image:
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border);

  background-size:
    8px 2px,
    2px 42px,
    8px 2px,
    8px 2px,
    2px 42px,
    8px 2px;

  background-position:
    top left,
    top left,
    top right,
    bottom left,
    top right,
    bottom right;

  background-repeat: no-repeat;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
  background: alpha(@base, 0.70);
  border-radius: 4px;
  padding: 10px;
}

.scroll {
}

.list {
  background: alpha(@base, 0.70);
  border: none;

  background-image:
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border);

  background-size:
    4px 4px,
    4px 4px,
    4px 4px,
    4px 4px;

  background-position:
    top right,
    top left,
    bottom right,
    bottom left;

  background-repeat: no-repeat;
}

child,
child > * {
  border: none;

  background-image:
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border);

  background-size:
    1px 1px,
    1px 1px,
    1px 1px,
    1px 1px;

  background-position:
    top right,
    top left,
    bottom right,
    bottom left;

  background-repeat: no-repeat;

}

child:hover .item-box {
}

child:selected .item-box {
  border: none;

  background-image:
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@selected-text, @selected-text),
    linear-gradient(@border, @border),
    linear-gradient(@base, @base),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border),
    linear-gradient(@border, @border);

  background-size:
    10px 2px,
    2px 10px,
    10px 2px,
    2px 10px,
    2px 10px,
    2px 10px,
    900px 30px,
    10px 2px,
    2px 10px,
    10px 2px,
    2px 10px;

  background-position:
    top left,
    top left,
    bottom left,
    bottom left,
    center left,
    center left,
    center left,
    top right,
    top right,
    bottom right,
    bottom right;

  background-repeat: no-repeat;
}

child:selected .item-box * {
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
}
